.green {
    color: green;
}

.foo {
    display: none;
}

.anotherclass {
    display: block;
}

.hidden {
    display: none;
}

#box {
    /*display: none;*/
}

.underlined {
    text-decoration: underline;
}

#area {
    width: 400px;
    height: 250px;
    background: gray;
    margin-top: 20px;
}

#tries {
    width: 30px;
    padding: 5px;
    border: 1px solid black;
}
