.green {
    color: green;
}

.foo {
    display: none;
}

.anotherclass {
    display: block;
}

.hidden {
    display: none;
}

#box {
    /*display: none;*/
}

.underlined {
    text-decoration: underline;
}


#area {
    width: 400px;
    height: 250px;
    background: gray;
    margin-top: 20px;
}

#gameArea.active {
    background: green;
}

#gameArea.waiting {
    background: gray;
}
